

.column{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: pink;
}

header{
    font-size: x-large;
    font-weight: bold;
    font-family:cursive;
}

.button:hover {
    background-color: red;
    color: white;
  }
